<main>
  <h1>Prueba</h1>
  <section>
    <button (click)="onClick()">Click me!</button>
  </section>
  <section class="card-wrapper">
    <article *ngIf="currentCharacter">
      <img [src]="currentCharacter?.image" alt=""/>
      <h3>{{ currentCharacter.name }}</h3>
      <footer>
        <h3>Información: </h3>
        <div class="card-info">
          <span>Status: {{currentCharacter.status}}</span>
          <span>Especie: {{currentCharacter.species}}</span>
          <span>Genero: {{currentCharacter.gender}}</span>
        </div>
      </footer>
    </article>
  </section>
</main>
